body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}




.home-1 {
  background: url(../public/img/fondo-personas.png) no-repeat 90%;
}

.home-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my_scroll_div {
  overflow-y: auto;
  max-height: 300px;
}

.box1,
h4,
h2 {
  color: #FFFFFF;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* margin-left: 10%; */
  /* text-shadow: 0.1em 0.1em 0.3em black; */
}

.box2 h4,
h2 {
  color: #FFF;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* margin-left: 10%; */
  text-shadow: 0.1em 0.1em 0.3em black;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fondo {
  background: linear-gradient(to right, transparent, #0C5227),
  url("../public/img/Enmascarar1.png") no-repeat ;

}

.logoFinso {
  width: 400px;
  position: relative;
  /* top: 40px;  */
  left: -50px;
}
.inputRadius{
  border-radius: 35px;
}
.inputRadiusArea{
  border-radius: 20px;
}
#btn{
background-color: #86BC26;
}
.btn{
  border-radius: 50px;
}
.text-mediun{
  font-size: 30px;
  margin-bottom: 0px;
}
.text-big{
  font-size: 51px;
  margin-bottom: 0px;
}
.text-mediunForm{
  font-size: 23px;
  margin-bottom: 0px;
  color: #F7B029;
}
@media only screen and (max-width: 480px) {
  .fondo {
    background: linear-gradient( transparent, 40%, #0C5227),
    url("../public/img/Enmascarar1.png") no-repeat;
    
  }
  #seccion1{
    min-height: 220px;
  }
  .text-mediun{
    font-size: 25px;
    margin-bottom: 0px;
    margin-left: 30px;
  }
  .text-big{
    font-size: 41px;
    margin-bottom: -13px;
    margin-left: 30px;
  }
  .text-mediunForm{
    font-size: 20px;
    margin-bottom: 0px;
    position: relative;
    top: -35px;
    margin-left: 25px;
  }

  .logoFinso {
    width: 200px;
    position: relative;
    top: -385px;
    left: 40px;
  }
  .formulario1{
    width: 100%;
    position: relative;
    top: -35px;
    margin-left: 25px;
    padding: 0 0 0 15px;
  }
  .seccion4{
    position: relative;
    top: -900px;
  }
  .btnSiguiente{
margin-right: 25%;
  }
  .inputRadiusArea{
    border-radius: 35px;
    height: 87px;
  }
}